<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/esplora"></ion-back-button>
      </ion-buttons>
      <ion-input 
        class="searchToolbar"
        padding-start
        type="text" 
        placeholder="Cerca..."
        clearInput="true"
        clearOnEdit="true"
        #input
        [(ngModel)]="currentInputValue"
        (ionChange)="onInputChange()">
      </ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div padding-top text-center *ngIf="isLoadIng">
      <ion-spinner></ion-spinner>
    </div>
    <div padding-top text-center *ngIf="isFiltering">
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="filteredIngredients.length > 0 && isFiltering == false;">
      <ion-list  *ngFor="let ing of filteredIngredients">
        <ion-item (click)="onIngClick(ing)">{{ ing }}</ion-item>
      </ion-list>
    </div>
</ion-content>
