<header>
  <div class="content-header-wrapper">
    <div class="content-logo-wrapper">
      <!---<img src="assets/fried.svg" />--->
      <img src="assets/logo3.png"/>
    </div>
  </div>
</header>

<ion-content>
  <ion-grid padding>
    <ion-row class="row-proposed">
      <ion-list *ngIf="favRecipes.length > 0">
        <div class="recipeItem" *ngFor="let rec of favRecipes" (click) = "onRecipeClick(rec)" id="content">
          <ion-img [src]="rec.imageUrl"></ion-img>
          <div class="onRightOfImage">
            <p text-wrap>{{ rec.title.charAt(0).toUpperCase() + rec.title.slice(1)}}</p>
          </div>
        </div>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
