<header>
  <div class="content-header-wrapper">
    <div class="content-logo-wrapper">
      <!---<img src="assets/fried.svg" />--->
      <img src="assets/logo3.png"/>
    </div>
  </div>
</header>


<ion-content>
  <ion-refresher  slot="fixed"
                  (ionPull)="onPull($event)" 
                  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pulling-icon = "null"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <div id="spinner" *ngIf="isLoading">
    <ion-spinner name="crescent" color = "secondary"></ion-spinner>
  </div>
  <div class="grid-wrapper">
    <ion-grid *ngIf="!isLoading">
      <ion-row margin-horizontal text-wrap>
        <p class="row-type-content">L'ingrediente del giorno: {{rndIng1.charAt(0).toUpperCase() + rndIng1.slice(1)}}</p>
      </ion-row>
      <div class="horDiv">
        <div class="card" (click)='onRecipeClick(rnd_rec)' *ngFor="let rnd_rec of randomRecipes">
            <ion-img [src]="rnd_rec.imageUrl"></ion-img>
            <div class="card-description">
                <p>
                   {{rnd_rec.title | uppercase}}
                </p>
            </div>
          </div>
      </div>
      <ion-row margin-horizontal>
            <p class="row-type-content">I nostri consigli </p>
      </ion-row>
    <div class="horDiv">
      <div class="card" (click)='onRecipeClick(sugg)' *ngFor="let sugg of suggestedRecipes">
        <ion-img [src]="sugg.imageUrl"></ion-img>
        <div class="card-description">
            <p>
              {{sugg.title | uppercase}}
            </p>
        </div>
      </div>
    </div>
    </ion-grid>
  </div>
</ion-content>
